/* 
c1: #e3f2fd;
c2: #64b5f6;
c3: #2196f3;
c4: #1976d2;
c5: #0d47a1; 
*/


body {
    /* background-color: rgb(238, 238, 238); */
    background-image: url('/icons/tło.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
}

#nav {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 45px;
    background-color: #64b5f6;
    width: 90%;
    margin: auto;
    color: white;
    text-shadow: black 2px 2px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 10px;
}

#calendar {
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 10px;
}

.column {
    float: left;
    width: 15%;
    margin-right: auto;
    margin-left: auto; 
}

#columns {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.hours {
    line-height: 40px;
    text-align: center;
}

:root {
    --darker-rgb: 8 13 7;
}

.hours .hour {
    position: relative;
    background: linear-gradient(#bbdefb 95%, rgb(0, 0, 0));
    background-size: 100% 21px;
    z-index: 2;
}

.hours .hour span {
    position: relative;
    z-index: 1;
    background-color: #bbdefb;
}

#cal-nav {
    display: flex;
    justify-content: space-around;
}

.cal-nav-text {
    background-color: #bbdefb;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    width: 15%;
    margin: 3px;
    display: block;
    float: left;
    border: 1px black solid;
}

.hour-text
{
background-color: #64b5f6;}

.hour {
    margin: 5px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border: 1px solid black;
}

.column:not(.hours) .hour:hover {
    background-color: #d1d1d1;
}

.pon .hour,
.wt .hour,
.sr .hour,
.pt .hour,
.czw .hour {
    background-color: rgb(255, 255, 255);
}

#left,
#right,
#date {

    float: left;
}

#select-week {
    border-radius: 10px;
    background-color: #fafafa;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 10px;

}

#week {
    font-size: 25px;
    margin: 5px;
}

#slider {
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#date {
    line-height: 40px;
    height: 40px;
    margin: 10px 0 10px 0;
    width: 22%;
    background-color: #e3f2fd;
}

.change-week {
    margin: 10px 0 10px 0;
    user-select: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: #2196f3;
    color: #fff;
    box-shadow: inset 0 0 1px 2px white;
    padding: 0px 0 0 0;
    border: 4px #2196f3 solid;
}

.change-week:hover {
    border: 3px #1976d2 solid;
    background-color: #1976d2;
}

#left {
    border-radius: 10px 0 0 10px;
}

#right {
    border-radius: 0 10px 10px 0;
}

#reset-week {
    color: rgb(56, 56, 56);
    text-decoration: underline;
    cursor: pointer;
}

#reset-week:hover {
    color: black;
    text-shadow: rgb(161, 161, 161) 0px 0px 2px;
}

.day {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
}